*{
	padding: 50px;
	font-family: 'Dancing Script', cursive;
	font-size: 60px
	
        
	
	
}
h2 {

	font-weight: 900;
    background-color: violet;
	display:inline-block; 
	font-size: 1em;
	color: skyblue;


}
h1{

}










